@import "env-variables";
//Colors
$signup-info-box: #fcf5cb;
$signup-info-box-border: #ccc38a;
$purple: #504080;
$dark-blue: #273251;
$orange: #fb9c1a;
$home-btn: #fb9c1a;
$tnc-text: #455a64;
$dark-green: #74a669;
$green: #c0e0b9;
$globe-bg: #fff3e3;
$light-purple: #aaa7cc;
$light-orange: #f9c48c;
$light-green: #daebd6;
$grey: #808080;
$middle-grey: #939393;
$light-grey: #b2b2b2;
$home-black: #000000;
$black: #333333;
$white: #ffffff;
$border: #bababa;
$light-grey: #d9d9d9;
$Whitish-grey: #f3f3f3;
$failure: #c25358;
$success: #3fbfa6;
$danger: #ff0000;
$bg-box: rgba(13, 13, 13, 0.25);
$globe-heading: #b8fffb;
$top-footer-bg: #f4f4f4;
$down-footer-bg: #6f6f6f;
$globe-heading-span: #ffdd2c;
$banner-para: #676767;
$home-sliding-bg: #f2eeff;
$box-shadow: 0px 0px 5px 0px rgb(34, 33, 33);
$light-box-shadow: 0px 0px 5px 0px #707070;
$crypto-bg: #3ea7c8;
$dark-red: #692326;
$tooltip-icon: #acacac;
$tooltip-bg: #d0d0d0;
$success-msg-green: #f9fff8;
$success-msg-green-text: #f9fff8;
$success-msg-green-border: #74a669;
$error-msg-red: #fff0f2;
$error-msg-red-text: #c15358;
$error-msg-red-border: #ffdbe0;
$portfolio-bg: #fafafa;
$pricing-border: #dedede;
$pricing-left-col-border: #c7c8cb;
$berry: #8c0858;
$border-grey: #dbdbdb;
$border-dark-grey: #dcdcdc;
$light-yellow-pending: #fbf5cf;
$portfolio-bg: #fafafa;
$pricing-border: #dedede;
$pricing-left-col-border: #c7c8cb;
$berry: #8c0858;
$border-grey: #dbdbdb;
$pale-yellow: #ffeec6;
$light-yellow-pending: #fbf5cf;

//Text size
$head: 50px;
$bigger-head: 36px;
$medium-heading: 34px;
$head-mobile: 32px;
$big-header: 30px;
$medium-subheader: 28px;
$semi-big-header: 26px;
$header: 24px;
$big-subheader: 22px;
$subheader: 20px;
$big-text: 18px;
$normal-text: 16px;
$text: 14px;
$small-text: 12px;
$sub-text: 10px;

$body: #404040;
$footer: #6f6f6f;
$black: #000;
$anchortag: #2c2c2c;
$btnborder: #939393;
$table-background: #dddddd;

//Text size
$h1: 50px;
$h2: 30px;
$h3: 26px;
$h4: 22px;
$h5: 20px;
$p: 18px;
$mobile-text: 16px;

//Images
$map: $env + "/map.jpg";
$before-footer-blue-banner: $env + "/footertop.png";
$before-footer-grey-banner: $env + "/adbg.png";
$add-exchange-animation-image-1: $env + "/ed-2.png";
$add-exchange-animation-image-2: $env + "/ed-1.png";
$add-exchange-animation-image-3: $env + "/import_4.png";
$add-exchange-animation-image-4: $env + "/4.png";
$home-background: $env + "/globeback.png";
$home-content-background: $env + "/firstback.png";
